.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.dark-2 {
    color: #474747;
}
.dark-3{
    color: #757575;
}

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 38px 71px 25px 23px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 225px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
}
.nav-title {
    font-weight: 900;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

/* Banner */

.container{
    display: flex;
   justify-content: space-between;
   margin: 0 35px 0 230px;
   align-items: center;
}
.banner-writing-part{
    max-width: 580px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about style */

.about{
    background-color: #FFF8F3;
    padding: 130px 150px;
    border-radius: 5px;
    margin-top: 130px;
    
}
.text-center{
    text-align: center;
}
.section-description{
    font-size: 18px;
    font-weight: 300;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item{
    text-align: center;
}
/* What I do Seciton CSS */

.skills{
    margin-top: 130px;
}
.sills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
